.assignment {
    margin: 2rem;
    background-color: var(--secondary-color);
    color: white;
    border-radius: 1rem;
    padding: 2rem;
}

.milestoneContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.milestoneButton {
    color: white !important;
}

.milestone {
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    display: none;
}