.tabs > a {
    background-color: var(--lg-color) !important;
    color: black !important;
    border-color: var(--lg-color) !important;
}

.tabs + div > div:nth-child(1) {
    display: block !important;
}

.header {
    min-height: 12vh;
    background-color: var(--lg-color) !important;
    display: flex;
    align-items: center;
    padding-left: 2rem;
}

.btns {
    transform: translate(0, 3rem);
}

.btn {
    margin: 1rem;
    border-radius: 1rem;
    background-color: #FF842A;
    border-color: white;
}

.clazzContent {
    display: flex;
    flex-direction: row;
    padding-top: 2rem;
}