.people {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 3rem;
}

.person {
    padding: 1rem;
    display: flex;
    flex-direction: row;
}

.person h5 {
    padding-left: 2rem;
    align-self: center;
}