.about {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--secondary-color);
    color: white;
    padding: 5rem;
}

.about p {
    text-align: center;
    max-width: 50%;
    padding: 2rem;
}